<div class="container-fluid my-5">
	<h3><%= @gossip.title %></h3>
</div>

<div class="card align-self-center mt-2" style="width: 100rem;">
    <div class="card-body">
    <h5 class="card-title"><%= link_to "#{@gossip.user.first_name}", "/user/#{@gossip.user.id}" %></h5>
    <p class="card-text"><%= @gossip.content %></p>

	</div>
</div>
