<section class="jumbotron text-center">
        <div class="container my-5">
        <h1 class="jumbotron-heading">The Gossip Project</h1>
        <p class="lead text-muted">Franchement, on avait tous besoin d'un site pour echanger les rumeurs non ?</p>
        <p>
            <a href="/gossip" class="btn btn-primary my-2">Découvre tous les gossip !</a>
            
        </p>
        </div>
    </section>




<% @user.each_with_index do |user, index| %>
<div class="card align-self-center my-2" style="width: 100rem;">
<div class="card-body">
    <h5 class="card-title">Les potins de <%= @user[index].first_name %> </h5>
    <p class="card-text">Viens découvrir les news de ce sacripan de <%= @user[index].first_name %> !</p>


				<button type="button" class="btn btn-outline-primary">
					<%= link_to "#{@user[index].first_name}", "/user/#{@user[index].id}" %>
				</button>

				
            <% @user[index].gossips.each do |gossip| %>
			    <%= link_to "#{gossip.title}", "/gossip/#{gossip.id}" %>
										<% end %>
										</div>
									</div>

<% end %